################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LanguageTutor/Language.Core/bin/Debug/netcoreapp2.1
/LanguageTutor/Language.Core/obj
/LanguageTutor/LanguageTutor.Data/bin/Debug/netcoreapp2.1
/LanguageTutor/LanguageTutor.Data/obj
/LanguageTutor/LanguageTutor/bin/Debug/netcoreapp2.1
/LanguageTutor/LanguageTutor/obj
