@page "{Id}"
@model LanguageTutor.Web.Pages.Language.DeleteModel
@{
    ViewData["Title"] = "Delete";
}


<h2>Delete!</h2>
<div class="alert alert-danger">
    Are you sure you want to delete @Model.LanguageText.Text?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Yes!</button>
    <a asp-page="ClientLanguages" class="btn btn-default">Cancel</a>
</form>
