@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page Not Found</title>
</head>
<body>
    <h2> Unable to find language</h2>
</body>
</html>
